<div class="apartado">
    <h4>Administración / Gestion de ejercicio</h4>
    <span class="seccion" aria-label="Gestion de planes">Agregar ejercicio al plan: {{ selectedPlan?.nombre }}</span>
    <hr>
</div>
<button [routerLink]="['/admin/plans', selectedPlan?.nombre]"><i class="fa-solid fa-arrow-left"></i></button>

@if (mensajeEstado) {
    <p>{{ mensajeEstado }}</p>
}

<form [formGroup]="register">
    <!-- Nombre del producto -->
    <label for="imagen">Imagen (URL)</label>
    <input type="text" id="imagen" formControlName="imagen"><br>

    <label for="nombres">Nombre</label>
    <input type="text" id="nombres" formControlName="nombres"><br>

    <label for="descripcion">Descripcion</label>
    <textarea type="text" id="descripcion" formControlName="descripcion"></textarea><br>

    <label for="series">Series</label>
    <input type="number" min="1" id="series" formControlName="series"><br>

    <label for="repeticiones">Repeticiones</label>
    <input type="text" id="repeticiones" formControlName="repeticiones"><br>

    <label for="musculo">Musculo</label>
    <select id="musculo" formControlName="musculo">
        <option value="" disabled selected>--Elije un musculo--</option>
        <option value="Pecho">Pecho</option>
        <option value="Espalda">Espalda</option>
        <option value="Brazo">Brazo</option>
        <option value="Pierna">Pierna</option>
        <option value="Corporal">Corporal</option>
    </select><br>

    <label for="intensidad">Intensidad</label>
    <select id="intensidad" formControlName="intensidad">
        <option value="" disabled selected>--Elije una intensidad--</option>
        <option value="Leve">Leve</option>
        <option value="Media">Media</option>
        <option value="Alta">Alta</option>
    </select><br><br>

    <button [disabled]="register.invalid" (click)="guardar()">Agregar</button>
</form>
