<!-- Titulo del apartado -->
<div class="encabezado2">
  <div class="linea"></div>
    <span class="seccion">La experiencia JoreFit</span>
  <div class="linea"></div>
</div>
<div class="container">
  <div class="feature">
      <img src="assets/planIcon.png" alt="Entrenamiento personalizado">
      <div class="feature-text">
          <div class="feature-title">Entrenamiento personalizado</div>
          <div class="feature-description">Podrás personalizar las rutinas generadas con tus preferencias.</div>
      </div>
  </div>
  <div class="feature">
      <img src="assets/clockIcon.png" alt="Logra tus objetivos en tiempo record">
      <div class="feature-text">
          <div class="feature-title">Logra tus objetivos en tiempo record</div>
          <div class="feature-description">Con nuestro método, conseguirás resultados rápidamente.</div>
      </div>
  </div>
  <div class="feature">
      <img src="assets/armIcon.png" alt="Rutinas de calidad">
      <div class="feature-text">
          <div class="feature-title">Rutinas de calidad</div>
          <div class="feature-description">Nada de ejercicios dañinos. Nuestro programa se adapta a tu nivel.</div>
      </div>
  </div>
</div>

